In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("data/olympics.csv",skiprows=1)
df.rename(columns={df.columns[0]:"Country"},inplace=True)
df_summer = 
df.head()

,Country,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      147 non-null    object
 1   № Summer        147 non-null    int64
 2   01 !            147 non-null    int64
 3   02 !            147 non-null    int64
 4   03 !            147 non-null    int64
 5   Total           147 non-null    int64
 6   № Winter        147 non-null    int64
 7   01 !.1          147 non-null    int64
 8   02 !.1          147 non-null    int64
 9   03 !.1          147 non-null    int64
 10  Total.1         147 non-null    int64
 11  № Games         147 non-null    int64
 12  01 !.2          147 non-null    int64
 13  02 !.2          147 non-null    int64
 14  03 !.2          147 non-null    int64
 15  Combined total  147 non-null    int64
dtypes: int64(15), object(1)
memory usage: 18.5+ KB