In [1]:
import pandas as pd

In [2]:
df_raw = pd.DataFrame({
    "id":[1,2,3],
    "height":[75,63,86],
    "weight":[190,150,130]
})
df_raw

   id  height  weight
0   1      75     190
1   2      63     150
2   3      86     130

In [3]:
df = df_raw.set_index("id")
df

    height  weight
id
1       75     190
2       63     150
3       86     130

In [13]:
df_heights = df[["height"]].copy() #a list access gives you a dataframe
df_weights = df[["weight"]].copy()
display(df_heights)
display(df_weights)

    height
id
1       75
2       63
3       86

    weight
id
1      190
2      150
3      130

In [14]:
df_heights.sort_values("height",ascending=False,inplace=True)
df_weights.sort_values("weight",inplace=True)
display(df_heights)
display(df_weights)

    height
id
3       86
1       75
2       63

    weight
id
3      130
2      150
1      190

In [22]:
df_new_row = pd.DataFrame({
    "id":[4],
    "height":[45]
})
df_new_row.set_index("id",inplace=True)

#df_heights = pd.concat([df_heights,df_new_row])
pd.concat([df_heights,df_new_row],axis=0)

    height
id
3       86
1       75
2       63
4       45