In [ ]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [ ]:
df = pd.read_csv("data/Restaurant_Reviews.tsv", sep = '\t')
df

In [ ]:
df.info()

In [ ]:
#find reviews that mention both menu and price

In [ ]:
#reviews with a question

In [ ]:
# Reviews that talk about children (positive then negative groups)

In [ ]:
# find reviews that have the dollar sign

In [ ]:
# extract capitalized words longer than 4 characters

In [ ]:
#extract words within quotation marks

In [ ]:
# find long words (greater than 10 characters)

In [ ]:
# extract cost

In [ ]:
#extract all words repeated at least 3 times

In [ ]:
#rename column while extracting

In [ ]:
# extract hyphenated words